// theme
@import "./_variable.scss";
// base
@import "./_reset.scss";
@import "./_base.scss";
// layout
@import "./_layout.scss";
// module
@import "./_module.scss";

.banner {
  background-color: #ffffff;
  padding-top: 32px;
  position: relative;
  @include desktop {
    padding-top: 96px;
  }
  &__slogan {
    font-family: var(--secondary-font);
    font-size: 52px;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 16px;
    @include gradient-text;
    @include desktop {
      font-size: 96px;
    }
  }
  &__slogan-br {
    @include desktop {
      display: none;
    }
  }
  &__slogan-air {
    @include desktop {
      display: inline;
    }
  }
  &__img-people {
    display: block;
    margin: 0 auto;
    width: 327px;
    aspect-ratio: 723 / 538;
    @include tablet {
      width: 343px;
    }
    @include desktop {
      width: 723px;
    }
  }
}
.banner-links {
  display: inline-flex;
  gap: 16px;
  justify-content: center;
  padding: 8px 40px;
  background-color: #ffffff;
  box-shadow: 0px 1px 4px 0px #0000001a;
  border-radius: 12px;
  position: absolute;
  bottom: 20px;
  left: 50%; //第一步:往左推一半的空間
  transform: translateX(-50%); //第二步再往右推把物件置中
  @include tablet {
    display: none;
  }
  &__links__img {
    width: 32px;
    height: 32px;
  }
}
.banner-candidate {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 16px;
  @include tablet {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }
  @include desktop {
    margin-bottom: 24px;
  }
  &__title {
    display: inline-block;
    border-radius: 16px;
    padding: 12px 16px;
    background-color: var(--text-primary);
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    @include desktop {
      font-size: 28px;
    }
  }
  &__wrapper {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
    border: 1px solid #ffffff;
    border-radius: 16px;
    padding: 12px 16px;
    box-shadow: 0px 4px 12px 0px #a3b4cb33;
    background-color: #ffffff;
  }

  &__num-wrapper {
    position: relative;
    border-radius: 9999px;
    width: 40px;
    height: 40px;
    background: var(--primary-gradient);
  }
  &__num {
    position: absolute;
    left: 50%;
    top: calc(50% - 2px); // 因為字體的關係，所以數字無法上下置中
    transform: translate(-50%, -50%);
    font-size: 26px;
    font-weight: 900;
    color: #ffffff;
  }
  &__name {
    font-size: 28px;
    font-weight: 700;
    color: var(--color-primary);
    @include desktop {
      font-size: 40px;
    }
  }
}
.marquee {
  padding: 10px 0;
  font-family: var(--secondary-font);
  background-color: var(--color-primary);
  color: white;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;

  &__p {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 25s linear infinite;
    font-size: 40px;
    @include desktop {
      font-size: 64px;
    }
  }
  @keyframes marquee {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(-100%, 0);
    }
  }
}
.advocate {
  background-color: var(--bg-color-theme2);

  &__wrapper {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 24px;
    overflow: hidden;
    @include desktop {
      flex-direction: row;
      gap: 24px;
    }
  }
  &__card {
    padding: 40px 24px;
    @include desktop {
      padding: 64px 40px;
      flex: 1;
    }
  }
  &__content {
    line-height: 1.5;
    padding: 32px 0;
    color: var(--text-primary);
    font-size: 24px;
    font-weight: bold;
    @include desktop {
      font-size: 28px;
    }
  }
  &__brighten {
    color: var(--color-primary);
  }
  &__introduce {
    line-height: 1.5;
    color: var(--text-primary);
    font-size: 16px;
    @include desktop {
      font-size: 18px;
    }
  }
  &__img {
    display: block;
    width: 100%;
    aspect-ratio: 648 / 462;
    @include desktop {
      aspect-ratio: unset;
      object-fit: cover;
      height: 100%;
    }
  }
  &__img-wrapper {
    @include desktop {
      flex: 1;
    }
  }
}

.latestevents {
  &__card {
    margin-bottom: 40px;
    @include desktop {
      margin-bottom: 64px;
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    @include desktop {
      flex-direction: row;
      gap: 24px;
    }
  }
  &__wrapper {
    flex: auto;
    @include desktop {
      flex: 1;
    }
  }

  &__img {
    display: block;
    width: 100%;
    aspect-ratio: 343 / 241;
    border-radius: 16px;
    object-fit: cover;
    @include tablet {
      aspect-ratio: 696 / 443;
    }
    @include desktop {
      aspect-ratio: 648 / 407;
    }
  }
  &__content {
    padding-bottom: 24px;
  }
  &__date {
    padding-top: 16px;
    padding-bottom: 8px;
    font-size: 14px;
    color: var(--date-secondary);
  }
  &__title {
    font-size: 20px;
    color: var(--text-);
    font-weight: bold;
    padding-bottom: 8px;
  }
  &__title-content {
    font-size: 16px;
    color: var(--text-primary);
  }
  &__list-wrapper {
    flex: auto;
    @include desktop {
      flex: 1;
    }
  }
  &__list {
    display: flex;
    margin-bottom: 24px;
  }
  &__list-img {
    margin-right: 16px;
    width: 109px;
    aspect-ratio: 109 / 112;
    object-fit: cover;
    border-radius: 8px;
    @include desktop {
      width: 201px;
      aspect-ratio: 201 / 134;
    }
  }
  &__list-block {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  &__list-date {
    font-size: 14px;
    color: var(--date-secondary);
  }
  &__list-title {
    font-size: 16px;
    font-weight: bold;
    color: var(--text-primary);
  }
  &__list-content {
    font-size: 14px;
    align-items: center;
    text-overflow: ellipsis;
    color: var(--text-primary);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    @include desktop {
      font-size: 16px;
    }
  }
}

.policy-issues {
  @include desktop {
    padding-top: 104px;
    padding-bottom: 104px;
  }
  &__card {
    margin-bottom: 40px;
    @include tablet {
      margin-bottom: 80px;
      @include desktop {
        margin-bottom: 64px;
      }
    }
  }

  &__row {
    --gutter-y: 64px;
    @include desktop {
      --gutter-x: 64px;
    }
  }
  &__block {
    display: flex;
    flex-direction: column;

    @include desktop {
      height: 100%;
      justify-content: space-between;
    }
  }
  &__title {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.5;
    padding: 0 16px 16px 16px;
  }

  &__img {
    display: block;
    aspect-ratio: 343 / 229;
    border-radius: 24px;
    object-fit: cover;
    @include tablet {
      aspect-ratio: 336 / 235;
    }
  }
}
.serve {
  padding-top: 64px;
  padding-bottom: 64px;
  @include tablet {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @include desktop {
    padding-top: 104px;
    padding-bottom: 104px;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
    @include tablet {
      flex-direction: row;
    }
  }
  &__donate {
    padding: 40px 24px;
    border-radius: 32px;
    @include tablet {
      flex: 1;
    }
    @include desktop {
      padding: 96px;
    }
    &:nth-child(1) {
      background-color: var(--color-primary);
    }
    &:nth-child(2) {
      background-color: var(--text-primary);
    }
  }
  &__title {
    margin-bottom: 16px;
    color: #ffffff;
    font-family: var(--secondary-font);
    font-size: 40px;
    line-height: 1.5;
    @include desktop {
      font-size: 52px;
    }
  }
  &__content {
    margin-bottom: 24px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5;
  }
  &__guide {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
  }
  &__img {
    width: 135px;
    aspect-ratio: 1/1;
    @include desktop {
      width: 224px;
    }
  }
}
.last-page {
  &__slogan {
    font-family: var(--secondary-font);
    font-size: 52px;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 24px;
    @include gradient-text;
    @include desktop {
      margin-bottom: 16px;
      font-size: 64px;
    }
  }
  &__slogan-br {
    @include desktop {
      display: none;
    }
  }
  &__slogan-air {
    @include desktop {
      display: inline;
    }
  }
  &__wrapper {
    gap: 8px;
    margin-bottom: 40px;
  }
  &__num-wrapper {
    width: 33px;
    height: 33px;
    @include desktop {
      width: 50px;
      height: 50px;
    }
  }
  &__num {
    font-size: 25px;
    @include desktop {
      font-size: 32px;
    }
  }
  &__name {
    font-size: 24px;
    @include desktop {
      font-size: 40px;
    }
  }
}

.footer {
  background-color: var(--bg-color-theme2);
  padding-top: 64px;
  padding-bottom: 64px;
  margin-bottom: 68px;
  @include desktop {
    margin-bottom: 0;
  }
  &__block {
    display: flex;
    flex-direction: column;
    gap: 24px;
    @include desktop {
      flex-direction: row;
      gap: 16px;
    }
  }
  &__introduction {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex: 1;
  }

  &__wrapper {
    justify-content: start;
    gap: 8px;
    @include tablet {
      gap: 16px;
    }
  }
  &__num-wrapper {
    width: 32px;
    height: 32px;
  }
  &__name {
    font-size: 28px;
  }
  &__copyright {
    font-size: 14px;
    color: var(--text-primary);
  }
  &__headquarters {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 16px;
  }
  &__headquarters-title {
    font-weight: 700;
    color: var(--text-primary);
    font-size: 24px;
  }
  &__headquarters-content {
    line-height: 1.5;
    font-size: 16px;
    color: var(--text-primary);
  }
  &__headquarters-a {
    text-decoration: none;
    display: inline-block;
    color: var(--text-primary);
  }
}
.footer-links {
  &__wrapper {
    display: flex;
    gap: 8px;
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 500px;
    width: 48px;
    height: 48px;
  }
  &__img {
    width: 28px;
    object-fit: contain;
  }
}

.field {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 68px;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px gray;
  position: fixed;
  bottom: 0;
  gap: 8px;
  @include desktop {
    display: none;
  }
  &__block {
    display: flex;
    padding: 12px 0 16px 0;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
  }
  &__img {
    width: 24px;
    height: 24px;
  }
  &__content {
    font-size: 10px;
    color: var(--text-primary);
  }
}
